<br>

<div class="container-fluid">

    <h1 class="d-flex justify-content-center">New Vehicle</h1>

    <%= render 'form', vehicle: @vehicle %>

    <!--<%= link_to 'Back', vehicles_path %>-->

    <br>

    <%= link_to vehicles_path, class: 'btn btn-light btn-large rounded-circle' do %>
        <i class="material-icons">arrow_back_ios</i> <% end %>

</div>